.library {
  padding-top: 50px;
}

.library-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 100;
  font-size: 30px;

  display: none;
  align-items: center;
  gap: 15px;
  text-align: center;

  &.active {
    display: flex;
  }
}

.library-title {
  font-weight: 400;
  font-size: 25px;
  color: #ffffff7e;

  margin-bottom: 10px;

  & span {
    font-weight: 500;
    color: var(--light-color);
  }
}

.library-loader {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 50px;
}

.library-item {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: var(--item-color);

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: calc((100% - 20px) / 2);
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 60px) / 4);
  }
}

.library-item-poster {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.library-item-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.library-item-title {
  font-weight: 600;
  font-size: 15px;

  margin-bottom: 20px;
}

.library-item-date {
  margin-top: auto;
}

.library-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 300;
  font-size: 14px;
  color: var(--light-opacity-color);

  & span {
    font-weight: 600;
    color: var(--light-color);
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.library-item-btn {
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--light-color);

  padding: 15px 20px;

  font-weight: 600;
  font-size: 14px;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.library-pagination {
  margin-top: auto;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &.active {
    display: flex;
  }
}

.library-page {
  font-weight: 600;
  font-size: 18px;
  background-color: var(--input-color);
  border-radius: 8px;
  padding: 13px;
}

.library-btn {
  background-color: transparent;
  border: none;
  transition: opacity 0.2s ease-in-out;

  & i {
    font-size: 20px;
    color: var(--light-color);
  }

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    & i {
      color: grey;
    }

    &:hover {
      opacity: 1;
    }
  }
}
