<section class="library">
  <div class="container library-container">
    <h2 class="library-title">Popular Movies</h2>
    <span class="library-message">
      <i class="fa-solid fa-circle-info"></i>
      No results found
    </span>
    <span class="loader library-loader hide"></span>
    <ul class="library-list"></ul>
    <div class="library-pagination">
      <button class="library-prev-btn library-btn">
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <p class="library-page">1</p>
      <button class="library-next-btn library-btn">
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </div>
</section>
