<section class="library">
  <div class="container library-container">
    <h2 class="library-title">Popular Movies</h2>
    <span class="library-message">
      <i class="fa-solid fa-circle-info"></i>
      No results found
    </span>
    <!-- <span class="loader library-loader hide"></span> -->
    <div class="loader library-loader hide">
      <div class="loader__container">
        <div class="loader__film">
          <img
            class="loader__film-img"
            src="https://www.dropbox.com/s/o4p5i3nfw92rhfz/film.png?raw=1"
            alt=""
          />
          <img
            class="loader__film-img"
            src="https://www.dropbox.com/s/o4p5i3nfw92rhfz/film.png?raw=1"
            alt=""
          />
        </div>
        <img
          class="loader__camera"
          src="https://www.dropbox.com/s/348z6yvtt9hbos2/camera.png?raw=1"
          alt=""
        />
      </div>
    </div>
    <ul class="library-list"></ul>
    <div class="library-pagination">
      <button class="library-prev-btn library-btn">
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <p class="library-page">1</p>
      <button class="library-next-btn library-btn">
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </div>
</section>
