<div class="backdrop modal">
  <div class="modal-container">
    <div class="modal-dialog">
      <button class="modal-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <img src="" alt="" class="modal-img" />
      <div class="modal-content">
        <h2 class="modal-title">Lorem ipsum dolor sit amet.</h2>
        <p class="modal-status modal-info">Status: <span></span></p>
        <p class="modal-released modal-info">Released date: <span></span></p>
        <p class="modal-rating modal-info">Rating: <span></span></p>
        <button class="modal-video-btn" data-id="">
          <i class="fa-solid fa-play"></i>
          Watch Trailer
        </button>
        <p class="modal-descr">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>

<!-- <span class="loader modal-loader hide"></span> -->
<div class="loader modal-loader hide">
  <div class="loader__container">
    <div class="loader__film">
      <img
        class="loader__film-img"
        src="https://www.dropbox.com/s/o4p5i3nfw92rhfz/film.png?raw=1"
        alt=""
      />
      <img
        class="loader__film-img"
        src="https://www.dropbox.com/s/o4p5i3nfw92rhfz/film.png?raw=1"
        alt=""
      />
    </div>
    <img
      class="loader__camera"
      src="https://www.dropbox.com/s/348z6yvtt9hbos2/camera.png?raw=1"
      alt=""
    />
  </div>
</div>
